<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>defaults</key>
			<string>com.ps.cahighfps</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>includeIdentifiersInSearch</key>
			<true/>
			<key>key</key>
			<string>App</string>
			<key>label</key>
			<string>Enabled app</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>useSearchBar</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ps.cahighfps</string>
			<key>key</key>
			<string>customFpsEnabled</string>
			<key>label</key>
			<string>Use custom FPS (respring required)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>label</key>
			<string>Custom fps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>60</integer>
			<key>defaults</key>
			<string>com.ps.cahighfps</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>customFPS</string>
			<key>label</key>
			<string>Custom fps</string>
			<key>max</key>
			<integer>120</integer>
			<key>min</key>
			<integer>30</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If disabled, the tweak will choose the highest fps available</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ps.cahighfps/loadPref</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.ps.cahighfps</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>fpsMode</string>
			<key>label</key>
			<string>FPS Type</string>
			<key>validTitles</key>
			<array>
				<string>FPS</string>
				<string>PFPS</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>CAHighFPS</string>
</dict>
</plist>
